.brands {
    padding: 106px 0 96px 0;
    &__title {
        width: 650px;
        margin: 0 auto;
    }
    &__wrapper {
        margin-top: 58px;
        display: flex;
        gap: 64px;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__item {
        div {
            img {
                display: block;
                margin: 24px auto 0 auto;
            }
        }
    }
}